*.iml
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

.kotlin

/composeApp/src/commonMain/kotlin/ui/todo.txt
/composeApp/coshanu-android-release.jks
/composeApp/coshanu-android-release.jks.base64
/composeApp/coshanu-apk-encoded-secret.txt
/composeApp/coshanu-apk-secret.txt
